* {
    font-family: 'Cairo', sans-serif;
    }
    body {
        background-image: url("../images/hamraback.png");
        background-repeat: repeat-x;

    }

  
.fa-youtube-play {
    color: #cf0909;
} 

.fa-group {

    color: #044e61
}
.fa-hand-pointer-o {

    color: #000000
}
 .art_n{
 	margin-right: 70px;
    margin-top: 0px;
    background: #efefef;
    border-radius: 4px;
    margin-bottom: 50px;
 }
 
 .art_s{
 	margin-right: 40px;
    margin-top: 20px;
 }

.cat_h2{
background: #b07529;
    border-radius: 9px;
}
.cat_h1{

    padding: 5px;
    border-radius: 5px;
        padding-bottom: 0px;
}
.post_n{

    
    padding-top: 4px;
    border-top-width: 1px;
    border-bottom-width: 4px;
    border-right-width: 1px;
    background-position-x: center;


}
.front3 {


    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-bottom: 23px;
    background-color: #e0ddd8;
    height: 40px;
    margin-top: 20px;
    margin-right: 80px;
}



.s2 {
   
    background-position: 0 0;
    background-repeat: no-repeat;
    color: black;
    display: inline-block;
    height: 40px;
    margin-top: 10px;
}


.front33{
    background-image: url("../images/n1.png");
    float: right;
    width: 80px;
    height: 40px;
    margin-top: -63px;
}
