* {
    font-family: 'Cairo', sans-serif;
    }
<<<<<<< HEAD
=======
 .art_n{
 	margin-right: 70px;
    margin-top: 0px;
    background: #efefef;
    border-radius: 4px;
    margin-bottom: 50px;
 }
 .art_s{
 	margin-right: 40px;
    margin-top: 20px;
 }

.cat_h2{
background: #b07529;
    border-radius: 9px;
}
.cat_h1{
	background: #eae8e8;
    padding: 5px;
    border-radius: 5px;
        padding-bottom: 0px;
}
.post_n{

    height: 121px;
    padding-top: 4px;
    border-top-width: 1px;
    border-bottom-width: 4px;
    border-right-width: 1px;


}

>>>>>>> 225b6bf0271c9340d9b406ce28450f9368763a30
