* {
    font-family: 'Cairo', sans-serif;
    }
<<<<<<< HEAD
=======
 .art_n{
 	margin-right: 70px;
    margin-top: 0px;
    background: #efefef;
    border-radius: 4px;
    margin-bottom: 50px;
 }
 .art_s{
 	margin-right: 40px;
    margin-top: 20px;
 }
>>>>>>> 4967aeb65a27d89421034ab0f5f995d26f7b7a0d
